<h1>Front Porn Light</h1>
<div id="light">
  <div class="meter">
    <span style="width:<%= @brightness %>%">
      <%= @brightness %>%
    </span>
  </div>

  <button phx-click="off">
    <img src="images/light-off.svg"/>
  </button>

  <button phx-click="down">
    <img src="images/down.svg"/>
  </button>

  <button phx-click="up">
    <img src="images/up.svg"/>
  </button>

  <button phx-click="on">
    <img src="images/light-on.svg"/>
  </button>
</div>
